@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.btn-container {
  text-align: center;
}

.btn-open {
  color: #1c2042;
  background-color: #93E1D6;
  border: 2px solid #93E1D6;
}

.modal {
  width: 30rem;
  min-height: 20rem;
  color: #93E1D6;
  background-color: #028169;
  border-radius: 14px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,
      -50%);
}

.modal-header {
  padding: 1rem 0.5rem;
  text-align: center;
}

.modal-title {
  text-decoration: underline;
  word-spacing: 6px;
  margin: 0.5rem auto;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  padding: 1rem;
  text-align: end;
}

.btn-close {
  color: #1c2042;
  background-color: #93E1D6;
  border: 2px solid #93E1D6;
}

@media screen and (min-width: 576px) {}

/* Medium devices (tablets) */

@media (min-width: 768px) {}

/* Large devices (desktops) */

@media (min-width: 991px) {}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {}